@model DirectKeyDashboard.Charting.Domain.LineChart

@{
    var id = Guid.NewGuid().ToString();
    var jsId = id.Replace("-", "");
    var canvasID = $"line-chart-canvas-{id}";
    var valuesGlobal = $"lineValues_{jsId}";
    var labelsGlobal = $"lineLabels_{jsId}";
    var colorsGlobal = $"lineColors_{jsId}";
    var pointColorsGlobal = $"linePointColors_{jsId}";
    var categoryLabelsGlobal = $"lineCategoryLabels_{jsId}";
}

<div class="chart-container" style="position:relative; width:60vw; margin-left:auto; margin-right:auto">
    <canvas id="@(Html.Raw(canvasID))"></canvas>
</div>

@*Inject CS variables as JSON strings, then parse into JS objects*@

<script type="text/javascript">
    if (window['lineChartScriptIds'] == null) {
        window['lineChartScriptIds'] = [];
    }
    window['lineChartScriptIds'].push('@Html.Raw(id)');
    @(Html.Raw(valuesGlobal)) = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Lines.Select(l => l.Vertices.Select(v => v.Value).ToList()).ToList()))');
    @(Html.Raw(labelsGlobal)) = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Lines.Select(l => l.Label).ToList()))');
    @(Html.Raw(colorsGlobal)) = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Lines.Select(l => l.Color).ToList()))');
    @(Html.Raw(pointColorsGlobal)) = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Lines.Select(l => l.PointColor).ToList()))');
    @(Html.Raw(categoryLabelsGlobal)) = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.CategoryLabels))');
</script>

<script defer src="~/js/line-chart.js" id="@Html.Raw(id)" data-canvas-id="@Html.Raw(canvasID)"
                                                  data-line-width="3"
                                                  data-point-border-width="3"
                                                  data-values-global="@Html.Raw(valuesGlobal)"
                                                  data-colors-global="@Html.Raw(colorsGlobal)"
                                                  data-point-colors-global="@Html.Raw(pointColorsGlobal)"
                                                  data-labels-global="@Html.Raw(labelsGlobal)"
                                                  data-category-labels-global="@Html.Raw(categoryLabelsGlobal)"></script>