@model DirectKeyDashboard.Charting.Domain.PieChart

@{
    var canvasID = "test-chart-canvas";
    var labelsGlobal = "sliceLabels";
    var countsGlobal = "sliceCounts";
    var backgroundColorsGlobal = "sliceBackgroundColors";
    var borderColorsGlobal = "sliceBorderColors";
}

<div class="chart-container" style="position:relative; width:60vw; margin-left:auto; margin-right:auto">
    <canvas id="@(Html.Raw(canvasID))"></canvas>
</div>

@*Inject CS variables as JSON strings, then parse into JS objects*@

<script type="text/javascript">
    @(Html.Raw(labelsGlobal)) = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Slices.Select(s => s.Label).ToList()))');
    @(Html.Raw(countsGlobal)) = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Slices.Select(s => s.Count).ToList()))');
    @(Html.Raw(backgroundColorsGlobal)) = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Slices.Select(s => s.BackgroundColor).ToList()))');
    @(Html.Raw(borderColorsGlobal)) = JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Slices.Select(s => s.BorderColor).ToList()))');
</script>

<script defer src="~/js/pie-chart.js" data-canvas-id="@Html.Raw(canvasID)"
                                                  data-chart-label="@Html.Raw(Model.Label)"
                                                  data-slice-border-width="1"
                                                  data-labels-global="@Html.Raw(labelsGlobal)"
                                                  data-counts-global="@Html.Raw(countsGlobal)"
                                                  data-background-colors-global="@Html.Raw(backgroundColorsGlobal)"
                                                  data-border-colors-global="@Html.Raw(borderColorsGlobal)"></script>