@model DirectKeyDashboard.Charting.Domain.GroupedBarChart

@{
    var id = Guid.NewGuid().ToString();
    var jsId = id.Replace("-", "");
    var canvasId = $"grouped-bar-chart-canvas-{id}";
}

<div class="chart-container" style="position:relative; width:60vw; margin-left:auto; margin-right:auto">
    <canvas id="@(Html.Raw(canvasId))"></canvas>
</div>

@*Inject CS variables as JSON strings, then parse into JS objects*@

<script type="text/javascript">
    if (window['groupedBarChartScriptIds'] == null) {
        window['groupedBarChartScriptIds'] = [];
    }
    window['groupedBarChartScriptIds'].push('@Html.Raw(id)');

    if (window['groupedBarChartData'] == null) {
        window['groupedBarChartData'] = {};
    }

    // Add this chart's data to the window's global
    window['groupedBarChartData']['@Html.Raw(jsId)'] = {
        labels: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Labels.ToList()))'),
        groupLabels: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BarGroups.Select(b => b.Label).ToList()))'),
        values: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BarGroups.SelectMany(b => b.Values).ToList()))'),
        drilldownUris: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BarGroups.SelectMany(b => b.DrilldownActions.Zip(b.DrilldownControllers).Select(dd => Url.Action(dd.First, dd.Second))).ToList()))'),
        drilldownData: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BarGroups.SelectMany(b => b.DrilldownQueryParameters).ToList()))'),
        backgroundColors: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BarGroups.Select(b => b.BackgroundColor).ToList()))'),
        borderColors: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.BarGroups.Select(b => b.BorderColor).ToList()))')
    };

</script>

<script defer src="~/js/grouped-bar-chart.js" id="@Html.Raw(id)" data-canvas-id="@Html.Raw(canvasId)"
                                                  data-bar-border-width="1"
                                                  data-num-groups="@Html.Raw(Model.BarGroups.Count())"
                                                  data-js-id="@Html.Raw(jsId)"></script>