@model DirectKeyDashboard.Charting.Domain.BarChart

@{
    var id = Guid.NewGuid().ToString();
    var jsId = id.Replace("-", "");
    var canvasID = $"bar-chart-canvas-{id}";
}

<div class="chart-container" style="position:relative; width:60vw; margin-left:auto; margin-right:auto">
    <canvas id="@(Html.Raw(canvasID))"></canvas>
</div>

@*Inject CS variables as JSON strings, then parse into JS objects*@

<script type="text/javascript">
    if (window['barChartScriptIds'] == null) {
        window['barChartScriptIds'] = [];
    }
    // Add this chart generation script to the queue so
    // that it can find itself and the attributes we're
    // about to pass in
    window['barChartScriptIds'].push('@Html.Raw(id)');
    
    if (window['barChartData'] == null) {
        window['barChartData'] = {};
    }

    // Add this chart's data to the window's global
    window['barChartData']['@Html.Raw(jsId)'] = {
        labels: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Bars.Select(b => b.Label).ToList()))'),
        values: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Bars.Select(b => b.Value).ToList()))'),
        backgroundColors: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Bars.Select(b => b.BackgroundColor).ToList()))'),
        borderColors: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Bars.Select(b => b.BorderColor).ToList()))'),
        drilldownUris: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Bars.Select(b => Url.Action(b.DrilldownAction, b.DrilldownController)).ToList()))'),
        drilldownData: JSON.parse('@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(Model.Bars.Select(b => b.DrilldownQueryParameters).ToList()))')
    };
</script>

<script defer src="~/js/bar-chart.js" id="@Html.Raw(id)" data-canvas-id="@Html.Raw(canvasID)"
                                                  data-chart-label="@Html.Raw(Model.Label)"
                                                  data-bar-border-width="1"
                                                  data-js-id="@Html.Raw(jsId)"></script>